.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 480px;
    margin-bottom: 30px;
    padding: 25px;
}

.about-header {
    margin-bottom: 15px;
    font-size: 26px;
    font-weight: 700;
    color: var(--text-primary);
}

.about-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    width: 100%;
}

.about-block {
    text-align: justify;
    max-width: 420px;
    padding: 15px 0;
    color: var(--text-primary);
}

.about-skills {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-table {
    width: 100%;
}

.skill {
    margin: 5px 0;
}

.skill-name {
    color: var(--accent);
    width: 100px;
}

.skill-bar {
    width: 100%;
    border: 1px solid var(--text-secondary);
}

.skill-bar__filled {
    text-align: right;
    padding: 15px 20px;
    color: var(--accent);
}

.important-text {
    color: var(--accent);
    font-weight: 600;
}

@media screen and (max-width: 1024px) {
    .about-body {
        flex-direction: column;
    }

    .about-skills {
        padding: 0 35px;
    }
}

@media screen and (max-width: 768px) {
    .skill-name {
        padding: 5px 0;
    }

    .skill {
        display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width: 540px) {
    .about-skills {
        padding: 0;
    }
}