.home {
    height: 100vh;
    min-height: 480px;
    max-height: 1080px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-avatar {
    margin: 35px 0;
}

.home-avatar__image {
    max-width: 320px;
    border-radius: 50%;
    box-shadow: 0 0 1px 22px var(--accent-second),
        0 0 1px 44px var(--accent-third);
}

.home-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 35px;
}

.home-title {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 42px;
    color: var(--accent);
}

.home-description {
    margin-bottom: 25px;
}

.home-description__about {
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: var(--text-secondary);
}

.home-social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-link {
    margin: 0 15px;
}

.social-link__image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: all 0.3s;
    filter: invert(1);
}

.social-link__image:hover {
    box-shadow: 0 0 1px 11px rgba(121, 0, 121, 0.15),
        0 0 1px 22px rgba(65, 1, 78, 0.1);
}


@media screen and (max-width: 768px) {
    .home-avatar__image {
        width: 220px;
    }
}

@media screen and (max-height: 400px) {
    .home-content {
        height: auto;
        padding: 25px 0;
    }
}

@media screen and (max-height: 700px) {
    .home-avatar__image {
        display: none;
    }

    .home-content {
        flex-direction: row;
        justify-content: space-around;
    }
}
