.home-wrapper {
    height: 100vh;
    min-height: 480px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 25px;
}

.home-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 35px;
}

.home-title {
    margin-bottom: 25px;
}

.home-title__greetings {
    font-weight: 500;
    font-size: 42px;
    color: var(--text-primary);
}

.home-description {
    margin-bottom: 25px;
}

.home-description__about {
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: var(--text-secondary);
}

.home-social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-link {
    margin: 0 15px;
}

.social-link__image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: all 0.3s;
}

.social-link__image:hover {
    filter: invert(1);
    box-shadow: 0 0 1px 11px rgba(121, 0, 121, 0.15),
        0 0 1px 22px rgba(65, 1, 78, 0.1);
}

@media screen and (max-height: 400px) {
    .home-content {
        height: auto;
        padding: 25px 0;
    }
}

@media screen and (max-height: 600px) {
    .home-content {
        flex-direction: row;
        justify-content: space-around;
    }
}
