.navbar-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    position: fixed;
    top: 0;
    transition: top .3s;
    background: var(--secondary-bg);
    z-index: 1;
}

.navbar {
    min-height: 70px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
}

.navbar-link {
    color: var(--text-primary);
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.navbar-link::after {
    background: none repeat scroll 0 0 transparent;
    bottom: -5px;
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--accent);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navbar-link:hover:after {
    width: 100%;
    left: 0;
}
