.works {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 480px;
}

.works-header {
    text-align: center;
    margin: 15px 0;
}

.works-title {
    font-size: 26px;
    font-weight: 700;
    color: var(--accent);
}

.works-description {
    font-size: 13px;
    color: var(--text-secondary);
}

.works-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}