.works-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 480px;
    margin-bottom: 30px;
    padding: 25px;
}

.works-header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
}

.works-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}