@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    color: #000;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.61),
            rgb(255, 255, 255)
        ),
        url('./images/bg.jpg');
    background-size: cover;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
