html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

:root {
    --bg: #1b2727;
    --secondary-bg: #3c5148;
    --text-primary: #d5dddf;
    --text-secondary: #b2c5b2;
    --accent: #7BC74D;
    --accent-second: #007926a1;
    --accent-third: #014e197a;
}